<div>
	<div class="banderas" style="margin-bottom: 12px;overflow: hidden;">
		<div ng-repeat="b in banderas" style="margin-bottom: 12px; overflow: hidden; min-height: 130px;" class="col-xs-4 col-md-2" >
			<utn-bandera bandera="b" url="{{b.BanderaChica}}" nombre="{{b.Nombre}}">
		</div>
	</div>

	<utn-saludo></utn-saludo>

	<div utn-saludo></div>

	<div class="utn-saludo"></div>
	<!-- utn-saludo -->
	<mostrar-titulo></mostrar-titulo>

	<utn-template></utn-template>

	<h3>{{titulo}}</h3>	
	<div ui-grid="gridOptions" class="myGrid"
	ui-grid-pagination
	ui-grid-resize-columns
	></div>

	<h2 ng-if="gridAmigosOptions.data.length">Amigos de {{usuario.nombre}}</h2>
	<div ng-if="gridAmigosOptions.data.length" ui-grid="gridAmigosOptions" class="myGrid"
	ui-grid-pagination
	ui-grid-resize-columns
	></div>

	<div ng-if="mostrarMapa" map-lazy-load="https://maps.google.com/maps/api/js">
		<ng-map center="41,-87" zoom="5"></ng-map>
	</div>
	<br>
	<br>
</div>
